<section class="hero is-primary">
  <div class="hero-body">
    <p class="title">
      Participant Summary
    </p>
    <p class="subtitle">
      Bellow is a summary of all cadets that are REGISTERED FOR AT LEAST ONE EVENT
    </p>
  </div>
</section>


<section class="section">

  <h1 class="title is-1"> TOTAL</h1>
  <h3 class="title"> - <%= Cadet.all.where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </h3>

</section>

<section class="section">

  <h1 class="title is-1"> CATEGORY SUMMARY</h1>


  <% units = Unit.all.sort %>

  <div class="table-container">
  <table class="table is-bordered is-striped is-hoverable">
    <thead>
    <tr>
      <th>Category</th>
      <th>Total</th>
      <% units.each do |u| %>
        <th> <%= u.name %></th>
      <% end %>
    </tr>
    </thead>


    <% @date_range = (Date.new(2023, 8, 31) - 15.year)..Date.new(2023, 8, 31) %>

    <tbody>

    <tr>
      <th> U15F</th>
      <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "female")
                    .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>

      <% units.each do |u| %>
        <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "female").where(unit: u)
                      .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>
      <% end %>

    </tr>


    <tr>

      <th> U15M</th>
      <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male")
                    .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>

      <% units.each do |u| %>
        <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male").where(unit: u)
                      .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>
      <% end %>

    </tr>


    <tr>

      <% @date_range = (Date.new(2023, 8, 31) - 17.year)..(Date.new(2023, 8, 31) - 15.year - 1.day) %>

      <th> U17M</th>
      <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male")
                    .where('EXISTS (SELECT DISTINCT "c".*
                                      FROM "cadets" as "c"
                                           INNER JOIN "registrations" as "r"
                                               ON "c"."id" = "r"."cadet_id"
                                           INNER JOIN "events" as "e"
                                              ON "r"."event_id" = "e"."id"
                                      WHERE "c"."id" = "cadets"."id"
                                      GROUP BY "c"."id"
                                      HAVING COUNT(*) >= 1)').distinct.count %> </td>

      <% units.each do |u| %>
        <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male").where(unit: u)
                      .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>
      <% end %>

    </tr>

    <tr>

      <% @date_range = (Date.new(2023, 12, 31) - 20.year)..(Date.new(2023, 8, 31) - 15.year - 1.day) %>

      <th> JW</th>
      <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "female")
                    .where('EXISTS (SELECT DISTINCT "c".*
                                          FROM "cadets" as "c"
                                               INNER JOIN "registrations" as "r"
                                                   ON "c"."id" = "r"."cadet_id"
                                               INNER JOIN "events" as "e"
                                                  ON "r"."event_id" = "e"."id"
                                          WHERE "c"."id" = "cadets"."id"
                                          GROUP BY "c"."id"
                                          HAVING COUNT(*) >= 1)').distinct.count %> </td>

      <% units.each do |u| %>
        <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "female").where(unit: u)
                      .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>
      <% end %>

    </tr>


    <tr>

      <% @date_range = (Date.new(2023, 12, 31) - 20.year)..(Date.new(2023, 8, 31) - 17.year - 1.day) %>

      <th> JM</th>
      <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male")
                    .where('EXISTS (SELECT DISTINCT "c".*
                                          FROM "cadets" as "c"
                                               INNER JOIN "registrations" as "r"
                                                   ON "c"."id" = "r"."cadet_id"
                                               INNER JOIN "events" as "e"
                                                  ON "r"."event_id" = "e"."id"
                                          WHERE "c"."id" = "cadets"."id"
                                          GROUP BY "c"."id"
                                          HAVING COUNT(*) >= 1)').distinct.count %> </td>

      <% units.each do |u| %>
        <td> <%= Cadet.all.where(date_of_birth: @date_range).where(gender: "male").where(unit: u)
                      .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </td>
      <% end %>

    </tr>
    </tbody>

  </table>
  </div>


</section>


<section class="section">

  <h1 class="title is-1"> UNIT SUMMARY</h1>



  <% Unit.all.each do |u| %>

    <h3 class="title"> <%= u.name %>  - <%= Cadet.all.where(unit: u)
                                                 .where('EXISTS (SELECT DISTINCT "c".*
                                    FROM "cadets" as "c"
                                         INNER JOIN "registrations" as "r"
                                             ON "c"."id" = "r"."cadet_id"
                                         INNER JOIN "events" as "e"
                                            ON "r"."event_id" = "e"."id"
                                    WHERE "c"."id" = "cadets"."id"
                                    GROUP BY "c"."id"
                                    HAVING COUNT(*) >= 1)').distinct.count %> </h3>

  <% end %>

</section>


