<div class="content is-large">
  <div class="card">
    <div class="card-content">

      <h1>Team Manager</h1>

      <dl>
        <dd>This is where you will specify your team manager.</dd>
        <dd>The team manager is their person who will be responsible for the Admin of your team on the day.</dd>
        <dd>This person will also be the point of contact for your squadron on the day as well.</dd>
      </dl>

      <% curr = Manager.where(unit: current_user.unit) %>
      <% email = '' %>
      <% phone_number = '' %>
      <% if curr.count == 0 %>
        <% first_name = '' %>
        <% last_name = '' %>
        <% rank = '' %>
      <% else %>
        <% first_name = curr.first.first_name %>
        <% last_name = curr.first.last_name %>
        <% rank = curr.first.rank %>
        <% if curr.first.email != nil %>
          <% email = curr.first.email %>
        <% end %>
        <% if curr.first.phone != nil %>
          <% phone_number = curr.first.phone %>
        <% end %>
      <% end %>

      <div class="columns">
        <div class="column is-two-fifths">
          <%= form_tag '/unit-push-manager-changes' do %>

            <!--div class="field">
              <label class="label">Rank</label>
              <div class="control">
                <input class="input" id="rank" name="rank" type="text" value="<%= rank %>">
              </div>
            </div-->

            <div class="field">
              <label class="label">Rank</label>
              <div class="control">
                <div class="select">
                  <select id="rank" name="rank" type="text">
                    <option selected> <%= rank %></option>
                    <option>CWO</option>
                    <option>CI</option>
                    <option>Cpl</option>
                    <option>Sgt</option>
                    <option>Flt Sgt</option>
                    <option>WO</option>
                    <option>Flying Officer</option>
                    <option>Pilot Officer</option>
                    <option>Flt Lt</option>
                    <option>Sqn Ldr</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="field">
              <label class="label">First Name</label>
              <div class="control">
                <input class="input" id="first_name" name="first_name" type="text" value="<%= first_name %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Last Name</label>
              <div class="control">
                <input class="input" id="last_name" name="last_name" type="text" value="<%= last_name %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Phone number</label>
              <div class="control">
                <input class="input" id="phone" name="phone" type="tel" value="<%= phone_number %>">
              </div>
            </div>

            <div class="field">
              <label class="label">Email</label>
              <div class="control">
                <input class="input" id="email" name="email" type="email" value="<%= email %>">
              </div>
            </div>

            <div class="field is-grouped">
              <div class="control">
                <%= submit_tag 'Create', class: "button is-link is-green" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>