<!DOCTYPE html>
<html>
<head>
  <title>Sports Portal</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= render 'layouts/headers' %>
</head>

<body>
  <%= render 'layouts/navbars/unit_navbar' %>
  <%= render 'layouts/alerts' %>

  <section class="section">
    <div>
      <%= yield %>
    </div>
  </section>

  <%= render 'layouts/bulmajs' %>
</body>
</html>
